DB_HOST=db
DB_USER=root
DB_PASSWORD=123
DB_NAME=gym_genesis

# Configurações de E-mail (PHPMailer)
MAIL_HOST=smtp.example.com
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_email_password
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@gymgenesis.com
MAIL_FROM_NAME="Gym Genesis"

# Chave secreta para JWT ou outras criptografias (gerar uma string aleatória longa)
APP_SECRET=your_super_secret_key_here_generate_a_long_random_string
