# Dependências instaladas
/vendor/

# Ambientes e segredos
.env
.env.*
!.env.example

# Logs e arquivos temporários
*.log
*.zip
.DS_Store
log.log

# Dados locais
/docker/db_data/
/code/tests/teste_imagem
/testes_SH/TestHelloWorld.php
/public/uploads/
!/public/uploads/.gitkeep
