parameters:
    level: 5
    paths:
        - app
        - routes
        - scripts
    excludePaths:
        analyse:
            - app/Views/*
    tmpDir: .phpstan-cache
    treatPhpDocTypesAsCertain: false
